extends ../layout/common.pug
block content
	h1 View Employee

	ul.list-group
		li.list-group-item=employee name
		li.list-group-item=emp.emp_address
		li.list-group-item=emp.emp_phone
		li.list-group-item=emp.emp_dob
		li.list-group-item=emp.emp_gender
		li.list-group-item=emp.acc_name