extends ../layout/common.pug
block content
	h1 View Employee

	each emp in emps
		a.btn.btn-primary(href="/employees/"+emp.emp_id+"/edit") Edit
		ul.list-group
			.form-group
				label Name
				li.list-group-item= emp.emp_name
			.form-group
				label Address
				li.list-group-item= emp.emp_address
			.form-group
				label Phone
				li.list-group-item= emp.emp_phone
			.form-group
				label Birthday
				li.list-group-item= emp.emp_dob
			.form-group
				label gender
				li.list-group-item= emp.emp_gender
			.form-group
				label Account Name
				li.list-group-item= emp.acc_name

		a.btn.btn-primary(href="/employees/"+emp.emp_id+"/delete") Delete