extends ../layout/common.pug
block content

		div.row.mt-2
			h1 Salary
			a.btn(href="/salary/create") New
			form.col-sm.form-inline.d-flex.justify-content-end(action="/salary/search", method="GET")
				input.form-control.mr-sm-2(type="text", name="q")
				button.btn.btn-outline-success(type='submit') Search
			

			table.table
				tr
					th Level
					th Basic
					th factor
					th Extra factor
					th
				each sal in salary
					tr
						td=sal.sal_lvl
						td=sal.sal_basic
						td=sal.sal_factor
						td=sal.sal_exfac
						td
							.from-group
							.dropdown
								button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									|	Option
								.dropdown-menu(aria-labelledby='dropdownMenuButton')
									a.dropdown-item(href="/salary/"+sal.sal_lvl+"/edit") Edit
									a.dropdown-item(href="/salary/"+sal.sal_lvl+"/delete") Delete
		
		nav(aria-label='Page navigation example')
			ul.pagination
				if n[0] > 1
					li.page-item
						a.page-link(href='?page='+(n[0]-1).toString()) Previous
				each page in n
					li.page-item
						a.page-link(href='?page='+ page)=page
				li.page-item
					a.page-link(href='?page='+(current[0]+1).toString()) Next